.hi{
    background-color:rgb(138,152,166)
}
.navbar{
    background-color:#CEDEF0;

}
.hi{
    text-align: center;
}
.h1{
    text-align: center;
    color:white
}
.h6{
    text-align: center;
    color:white
}

.himg{
    background-image: url(img/vending.jpg)
}

.rectangle {
    height: 50px;
    width: 100px;
    background-color: #555;
  }
  .jumbotron{
      height: 150px;

  }

  .drinks{
      text-align:center;
    }
    .hhimg{
        background-image: url(img/snickers.jpg);
        height: 150px;
    }
    .h11{
        color:beige;
        font-size: xx-large;
        text-align: center;
    }
    .inventory{
        background-color: rgb(138,152,166);
    }
    .h11{
        text-align: center;
    }
    .h2{
        text-align: left;
        font-style: italic;
        background-color: cadetblue;
        font-family: fantasy;
        font-size: xx-large;
    } 
    .container{
        background-color:rgb(138,152,166);
    }
    .hii{
        color:white
    }
    .container-fluid{
        background-color:rgb(138,152,166);
    }
    .html{
        text-align: center;
        background-color:rgb(138,152,166);
}

.chips{
    text-align: center;
}
.navvy{
    background-color: rgb(138);
}
.hhtml{
    text-align: center;
}

.stan{
    font-family: monospace;
    background-color: rgb(138,152,166);
}
.controls{
    background-color: rgb(138,152,166);
}
.clown{
    background-color:rgb(13,38,66);
    color: white;
    text-align: center;
}
.games{
    background-color: rgb(13,38,66);
    color:white;
}
.hehe{
    text-align: center;
}