.hi{
    background-color:#CEDEF0
}
.navbar{
    background-color:#CEDEF0;

}
.hi{
    text-align: center;
}
.h1{
    text-align: center;
    color:white
}
.h6{
    text-align: center;
    color:white
}

.himg{
    background-image: url(img/vending.jpg)
}

.rectangle {
    height: 50px;
    width: 100px;
    background-color: #555;
  }
  .jumbotron{
      height: 150px;

  }

  .drinks{
      text-align:center;
    }

    .in{
        text-align: left;
    }
    .hhimg{
        background-image: url(img/snickers.jpg);
        height: 150px;
    }
    .h11{
        color:beige;
        font-size: xx-large;
        text-align: center;
    }
    .inventory{
        background-color: 8A98A6;
    }
    .h11{
        text-align: center;
    }
    .h2{
        text-align: left;
        font-style: italic;
    } 
    .container{
        background-color: lightblue;
    }
    .hii{
        color:white
    }
    .container-fluid{
        background-color:lightblue
    }
    .html{
        text-align: center;
        background-color: lightblue;
    }
    .css{
        text-align: center;
    }